-- Configurations

config.widgets.enable = Set {'volume', 'battery', 'music'}

-- Programs
config.programs.terminal = "gnome-terminal"

-- languages / layout
config.keyboard.init_cmd = 'setxkbmap -layout "us,il" -option ""'

-- widgets
config.widgets.libs.battery.battery = "BAT0"
config.widgets.libs.battery.ac = "AC0"

-- theme
config.theme.wallpaper = "/usr/share/backgrounds/main_background.png"
