-- Configurations

config.widgets.enable = Set {'kbswitch', 'volume', 'battery', 'music'}

config.keyboard.switch_keys = {{ "Mod1" }, "space"}

-- Programs
config.programs.terminal = "gnome-terminal"

-- Widgets
config.widgets.libs.kbswitch.init_command = 'setxkbmap -layout "us,il" -option ""'

-- battery
config.widgets.libs.battery.battery = "BAT0"
config.widgets.libs.battery.ac = "AC0"

-- theme
config.theme.wallpaper = "/usr/share/backgrounds/main_background.png"
